
<div class="wrapper">
    <partial name="headerPartial" view-data="ViewData"/>
    <partial name="MessagePartial" view-data="ViewData"/>
    <partial name="newsFeedPartial" view-data="ViewData"/>
</div>
