
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


<div class="wrapper">
    <partial name="headerPartial" view-data="ViewData"/>
    <div class="body">
        <div class="connectBox">
            <h2 class="glow">Conversations</h2> 
            <div class="chats">
                @{
                    if(ViewBag.allConn.Count > 0)
                    {
                        foreach(User user in ViewBag.allConn)
                        {
                            <h4><a id="user" href="/directmessage/@ViewBag.CurrentUser.UserID/@user.UserID">@user.FirstName @user.LastName</a></h4><br>
                        }
                    }
                    else
                    {
                        <h4>Add some connections!</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.connectBox').css('background', 'radial-gradient( at center, #dce5ff, #4f7eff');
        $(".connectBox").mousemove(function(event) {
            var accountHeaderWidth = $(".connectBox").width();
            var accountHeaderHeight = $(".connectBox").height();
            var mouseXpercentage = Math.round(event.pageX / accountHeaderWidth * 100);
            console.log("posX: ", event.pageX);
            var mouseYpercentage = Math.round(event.pageY / accountHeaderHeight * 100);
            console.log("posY: ", event.pageY);
            $(".connectBox").css('background', 'radial-gradient(at ' + mouseXpercentage + '% ' + mouseYpercentage + '%, #e2e2e2, #4f7eff)');
        })
    })
</script>