<partial name="headerPartial" view-data="ViewData"/>
<div class="body">
    <div class="connectBox">
        <h2>Direct Messaging</h2> 
        @{
            if(ViewBag.allConn.Count > 0)
            {
                foreach(User user in ViewBag.allConn)
                {
                    <h4><a href="">@user.FirstName @user.LastName</a></h4><br>
                }
            }
            else
            {
                <h4>Add some connections!</h4>
            }
        }
    </div>
</div>
