
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />

@model User

<div class="wrapper">
    <div class="container theWall">
        <h1>The Wall</h1>
    </div>
    <div class="body">
        <p>PSA: We do nothing with your data and it is safely stored! We encourage new users to test this website out and see what it's all about!</p>
        <div class="formLinks">
            <a id="register">Register</a>
            <span>|</span>
            <a id="login">Login</a>
        </div>
        <div class="left">
            <div class="form">
                <h2>Register</h2>
                <form asp-action="register" asp-controller="Home" method="POST">
                    <span asp-validation-for="UserName"></span>
                    <p><label for="username">User Name: </label>
                    <input asp-for="UserName" id="username" type="text"></p>
                    <span asp-validation-for="FirstName"></span>
                    <p><label for="fname">First Name: </label>
                    <input asp-for="FirstName" id="fname" type="text"></p>
                    <span asp-validation-for="LastName"></span>
                    <p><label for="lname">Last Name: </label>
                    <input asp-for="LastName" id="lname" type="text"></p>
                    <span asp-validation-for="Email"></span>
                    <p><label for="email">Email: </label>
                    <input asp-for="Email" id="email" type="text"></p>
                    <span asp-validation-for="Password"></span>
                    <p><label for="pword">Password: </label>
                    <input asp-for="Password" id="pword" type="password"></p>
                    <span asp-validation-for="Confirm"></span>
                    <p><label for="confirm">Confirm: </label>
                    <input asp-for="Confirm" id="confirm" type="password"></p>
                    <input asp-for="ColorRed" value="79" type="hidden">
                    <input asp-for="ColorGreen" value="126" type="hidden">
                    <input asp-for="ColorBlue" value="255" type="hidden">
                    <p><input class="button btn" type="submit" value="Register"></p>
                </form>
            </div>
        </div>
        <partial name="LoginPartial" view-data="ViewData"/>
    </div>
</div>

<script>
    $(document).ready(function() {
        var pageWidth = $(window).width();
        console.log("pageWidth", pageWidth);
        if(pageWidth <= 480) {
            $(".left").css("display", "none");
            $(".right").css("display", "none");

            $(".form label").css("display", "block");
            $(".form input").css("display", "block");
            
            $("#register").click(function() {
                console.log("working");
                $(".formLinks").css("display", "none");
                $(".left").css("display", "");
            })
            $("#login").click(function() {
                $(".formLinks").css("display", "none");
                $(".right").css("display", "");
            })
        } else {
            $(".form label").css("display", "inline-block");
            $(".form input").css("display", "inline-block");
        }
    })
</script>