
@model Message

<div class="theWall">
    <div class="header">
        <h1>CodingDojo Wall</h1>
        <div class="headright">
            <h4>Welcome, @ViewBag.CurrentUser.FirstName</h4>
            <a href="/logout">Log Out</a>
        </div>
    </div>
</div>

<div class="bodyPost">
    <div class="form">
        <form asp-action="CreateMessage" asp-controller="Home" method="POST">
            <span asp-validation-for="Content"></span>
            <h4><label for="message">Post a message</label</h4>
            <p><textarea asp-for="Content" id="message" rows="6" cols = "100"></textarea></p>
            <input asp-for="UserID" value="@ViewBag.CurrentUser.UserID" type="hidden">
            <input class="btn btn-primary" type="Submit" value="Post message">
        </form>
    </div>
</div>