/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /* background-color: #2e2e2e; */
    /* background-color: #fff8e3; */
    background-image:
    radial-gradient(
      circle at top left,
      white,
      /* #e2e2e2, */
      #4f7eff
    );
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


@media only screen and (max-width: 480px) {
    .wrapper {
        min-height: 100vh;
        width: 100%;
    }
    .header {
        width: 100%;
        border-bottom: 2px solid black;
    }
    .left {
        width: 100%;
        display: inline-block;
        padding-left: 8%;

    }
    .right {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding-left: 5%;

    }
    .formLinks {
        width: 100%;
        text-align: center;
        font-size: 28px;
        margin-top: 30px;
    }
    #comment {
        width: 90%;
    }
    .form {
        text-align: center;
    }
    .form h2 {
        color: #4f7eff;
        margin-bottom: 40px;
        text-align: center;
    }
    .form label {
        text-align: left;
    }
    .form input {
        margin-bottom: 20px;
        width: 60%;
    }
    .form textarea {
        width: 90%;
    }
    .userInfo form {
        text-align: center;
    }
    .userInfo form textarea {
        width: 80%;
    }
    .headright {
        width: 53%;
        text-align: right;
        display: inline-block;
    }
    .header h1 {
        display: inline-block;
    }
    .header a {
        font-size: 16px;
        margin-left: 5%;
        color: white;
    }
    .header h4 {
        font-size: 16px;
        display: none;
    }
    button a {
        color: white;
    }
    .content {
        margin-left: 3%;
        width: 92%;
        font-size: 16px;
    }
    .comments {
        margin-left: 6%;
    }
    .messages {
        margin-left: 5%;
    }
    .comContent {
        margin-top: 25px;
        margin-left: 6%;
    }
    .theWall {
        border-bottom: 2px solid black;
        background-color: #4f7eff;
        border-radius: 10px 10px 0px 0px;
        color: white;
        width: 100%;
        padding-left: 2%;
    }
    .body {
        background-color: #f5f8ff;
        min-height: 200px;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        padding-top: 10px;
        padding-bottom: 104px;    
        font-family: 'Blinker', sans-serif;
    }
    .bodyPost {
        background-image: linear-gradient(white, #e6e6e6);
        height: 280px;
        padding: 2%;
        padding-top: 10px;
        font-family: 'Blinker', sans-serif;
    }
    .bodyPost label {
        font-size: 20px;    
    }
    
    /* NAVBAR */
    /* ********************************************************************* */
    #navbar {
        height: 40px;
        width: 100%;
        background-image: linear-gradient(#ebebeb, #d3d3d3);
        position: absolute;
        z-index: 1;
        position: sticky;
        top: 0;
    }
    .tags {
        width: 100%;
        text-align: center;
    }
    .tags li {
        display: inline-block;
        padding-top: 5px;
    }
    ul {
        margin-left: -5%;
    }
    .tags li {
        display: inline-block;
        padding: 6px 10px 0px 10px;
    }
    #navbar a {
        color: #2e2e2e;
        font-size: 20px;
        font-family: 'Blinker', sans-serif;
    }
    #navbar a:hover {
        color: #4f7eff;
        text-decoration: none;
    }
    
    /* ACCOUNT PAGE */
    /* ************************************************************** */
    .accountHeader {
        min-height: 320px;
        width: 98%;
        border-radius: 10px;
        padding-top: 10px;
        text-align: center;
    }
    .pic {
        width: 60%;
        margin: 0px auto;
        display: block;
        border-radius: 25%;
    }
    .userInfo {
        min-height: 250px;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
    .editLinks {
        display: block;
        margin-bottom: 20px;
    }
    .editBtn, .colorBtn {
        display: inline-block;
        color: white;
        font-size: 18px;
    }
    .userInfo h2 {
        margin-top: 0px;
        color: white;
    }
    .userInfo p {
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }
    hr {
        height: 1px;
        background-color: black;
    }
    .button {
        background-color: #4f7eff;
        color: white;
        margin-top: 7px;
    }
    .userInfo h1 {
        display: inline-block;
        margin: 0px auto;
        font-weight: 600;
    }
    .userNameEdit {
        height: 75px;
        width: 100%;
        color: white;
    }
    .atSign {
        font-size: 24px;
    }
    .picker{
        margin: auto;
        width: 90%;
        height: 180px;
    }
    #display {
        width: 100%;
        height: 100px;
        transition: background 100ms;
        margin-top: 30px;
        border: 1px solid #000;
    }
    .picker input {
        display: block;
        width: 100%;
    }
    .center {
        text-align: center;
        margin-bottom: 20px;
    }    
}

@media only screen and (min-width: 481px) {
    .wrapper {
        min-height: 100vh;
        width: 100%;
    }
    .header {
        width: 100%;
        border-bottom: 2px solid black;
    }
    .left {
        width: 49%;
        display: inline-block;
        padding-left: 8%;
    }
    .right {
        width: 35%;
        display: inline-block;
        vertical-align: top;
        padding-left: 5%;
    }
    .formLinks {
        display: none;
    }
    .form {
        margin-left: -2%;
    }
    .messageForm {
        text-align: center;
    }
    .form h1 {
        text-align: left;
    }
    #comment {
        width: 90%;
    }
    .form h2 {
        text-align: center;
        color: #4f7eff;
    }
    .form input {
        width: 50%;
        float: right;
        margin-right: 5%;
    }
    .form p {
        margin: 20px 0px 20px 0px;
    }
    .form textarea {
        width: 90%;
    }
    .headright {
        width: 66%;
        text-align: right;
        display: inline-block;
        vertical-align: bottom;
    }
    .headright a, h4{
        display: inline-block;
    }
    .headright a {
        color: white;
    }
    .header h1 {
        display: inline-block;
    }
    .header a {
        text-decoration: underline;
        font-size: 18px;
        display: inline-block;
        margin-left: 5%;
    }
    button a {
        color: white;
    }
    .content {
        margin-left: 3%;
        width: 92%;
        font-size: 16px;
    }
    .comments {
        margin-left: 6%;
    }
    .comContent {
        margin-top: 25px;
        margin-left: 6%;
    }
    .theWall {
        border-bottom: 2px solid black;
        background-color: #4f7eff;
        border-radius: 10px 10px 0px 0px;
        color: white;
        width: 100%;
        padding-left: 2%;
    }
    .body {
        background-color: #f5f8ff;
        min-height: 400px;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        padding-top: 10px;
        padding-left: 2%;
        padding-bottom: 20px;    
        font-family: 'Blinker', sans-serif;
    }
    .bodyPost {
        background-image: linear-gradient(white, #e6e6e6);
        height: 280px;
        padding-left: 2%;
        padding-top: 10px;
        font-family: 'Blinker', sans-serif;
    }
    .bodyPost label {
        font-size: 20px;    
    }
    
    /* NAVBAR */
    /* ********************************************************************* */
    #navbar {
        height: 40px;
        width: 100%;
        background-image: linear-gradient(#ebebeb, #d3d3d3);
        position: absolute;
        z-index: 1;
        position: sticky;
        top: 0;
    }
    .tags {
        width: 79vw;
    }
    .tags li {
        display: inline-block;
        padding: 6px 10px 0px 10px;
    }
    #navbar a {
        color: #2e2e2e;
        font-size: 20px;
        font-family: 'Blinker', sans-serif;
    }
    #navbar a:hover {
        color: #4f7eff;
        text-decoration: none;
    }

    /* ACCOUNT PAGE */
    /* ************************************************************** */
    .accountHeader {
        min-height: 320px;
        width: 98%;
        border-radius: 10px;
    }
    .pic {
        width: 23%;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        border-radius: 25%;
    }
    .userInfo {
        min-height: 250px;
        width: 66%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
    .editLinks {
        display: block;
        text-align: right;
        margin-right: 5%;
    }
    .editBtn {
        color: white;
        font-size: 18px;
    }
    .colorBtn {
        color: white;
        font-size: 18px;
    }
    .userInfo h2 {
        margin-top: 0px;
        color: white;
    }
    .userInfo p {
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }
    hr {
        height: 1px;
        background-color: black;
    }
    .button {
        background-color: #4f7eff;
        color: white;
    }
    .userInfo h1 {
        display: inline-block;
        margin: 0px auto;
        font-weight: 600;
    }
    .userNameEdit {
        height: 75px;
        width: 100%;
        text-align: center;
        color: white;
    }
    .atSign {
        font-size: 24px;
    }
    .picker{
        margin: auto;
        width: 90%;
        height: 180px;
    }
    #display {
        width: 100%;
        height: 100px;
        transition: background 100ms;
        margin-top: 30px;
        border: 1px solid #000;
    }
    .picker input {
        display: block;
        width: 100%;
    }
    .center {
        text-align: center;
        margin-bottom: 20px;
    }    
}

    /* NETWORK PAGE */
    /* ************************************************************** */
    .column {
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }

@media only screen and (min-width: 992px) {
    .form textarea {
        width: 80%;
    }
    .headright {
        width: 80%;
    }
    .userInfo {
        width: 60%;
        display: inline-block;
    }
}